/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:/Users/Учеба/Desktop/Pink проект/SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:/Users/Учеба/Desktop/Pink проект/SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 4, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-header.scss */
.page-header {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  left: -160px;
  background: rgba(0, 0, 0, 0.3);
  min-height: 65px;
  z-index: 10;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  /* line 18, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-header.scss */
  .page-header__logo {
    color: #fff;
    font-size: 32px;
    font-family: OpenSans;
    vertical-align: middle;
    line-height: 65px;
    margin-left: 15px; }
  /* line 29, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-header.scss */
  .page-header__menu-btn {
    position: absolute;
    width: 50px;
    height: 25px;
    top: 20px;
    right: 20px; }
  /* line 39, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-header.scss */
  .page-header .page-header__nav-menu {
    display: none; }
    /* line 41, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-header.scss */
    .page-header .page-header__nav-menu .main-menu {
      list-style: none;
      margin: 0;
      padding: 0; }
    /* line 47, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-header.scss */
    .page-header .page-header__nav-menu .main-menu li {
      border-top: 1px solid #485461;
      border-bottom: 1px solid #000101; }
      /* line 52, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-header.scss */
      .page-header .page-header__nav-menu .main-menu li a {
        display: block;
        line-height: 65px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-size: 18px;
        font-family: OpenSans;
        text-transform: uppercase; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 4, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-download.scss */
.page-download {
  background: #1d2631 url("../img/bg-top.png") no-repeat 50% 0;
  position: relative;
  padding-top: 1px;
  padding-bottom: 10px
  /*top: -65px;*/ }
  /* line 11, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-download.scss */
  .page-download__title {
    font-size: 24px;
    font-family: OpenSans;
    font-weight: 100;
    color: #fff;
    display: block;
    margin-top: 75px;
    text-align: center;
    padding: 10px; }
  /* line 23, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-download.scss */
  .page-download .btn {
    margin: 0 auto;
    margin-top: 322px;
    display: block;
    width: 280px;
    height: 56px;
    border: 3px solid #fff;
    border-radius: 23px;
    color: #fff;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-family: OpenSans;
    font-size: 18px;
    box-sizing: border-box; }
  /* line 43, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-download.scss */
  .page-download__app-wrapper {
    /*position: absolute;*/
    margin: 0 auto;
    bottom: 0;
    background: #1d2631;
    width: 280px; }
    /* line 50, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-download.scss */
    .page-download__app-wrapper p {
      margin-top: 20px;
      padding-bottom: 11px;
      font-size: 14px;
      font-family: OpenSans;
      text-align: center;
      color: #fff;
      font-weight: 100; }
  /* line 61, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-download.scss */
  .page-download .page-download__app-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px; }
    /* line 67, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-download.scss */
    .page-download .page-download__app-list li {
      display: inline-block;
      margin-left: 35px; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 4, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
.product {
  margin: 0; }
  /* line 8, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
  .product-title {
    margin: 0;
    padding: 0;
    padding-top: 40px; }
    /* line 13, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
    .product-title span {
      display: block;
      font-family: OpenSans;
      font-size: 24px;
      color: #283645;
      font-weight: 100;
      text-align: center;
      margin-bottom: 25px; }
  /* line 25, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
  .product .features-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    background: #f2f2f2
    /*width: 320px;*/ }
    /* line 33, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
    .product .features-list__item {
      display: inline-block;
      text-align: center;
      font-family: OpenSans;
      margin-bottom: 30px; }
      /* line 40, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
      .product .features-list__item .title-h3 {
        font-size: 18px;
        padding: 0;
        margin: 0; }
      /* line 46, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
      .product .features-list__item p {
        font-size: 14px;
        color: #283645; }
  /* line 55, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
  .product .features-list:after {
    content: "";
    margin: 0 auto;
    width: 160px;
    display: block;
    height: 280px;
    background: #f2f2f2 url("../img/bg-product.png") no-repeat; }

/* line 68, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-product.scss */
.product-title:after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 34px;
  background: linear-gradient(to top left, #f2f2f2 0%, #f2f2f2 50%, #fff 50%, #fff 100%); }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 3, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-comments.scss */
.slider-quotes {
  margin: 0;
  padding: 0;
  padding-bottom: 45px; }
  /* line 8, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-comments.scss */
  .slider-quotes .quote {
    font-family: OpenSans;
    text-align: center;
    padding-top: 40px; }
    /* line 14, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-comments.scss */
    .slider-quotes .quote__author {
      font-size: 18px;
      font-style: normal;
      font-weight: bold; }
    /* line 20, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-comments.scss */
    .slider-quotes .quote p {
      color: #283645;
      font-size: 14px;
      margin-bottom: 30px; }
  /* line 30, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-comments.scss */
  .slider-quotes .quote-2, .slider-quotes .quote-3 {
    display: none; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 4, C:\Users\Учеба\Desktop\Pink проект\SCSS/helper.scss */
a {
  text-decoration: none; }

/* line 9, C:\Users\Учеба\Desktop\Pink проект\SCSS/helper.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 5, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-price.scss */
.slider-price-wrapper {
  padding-top: 65px;
  padding-bottom: 45px;
  background: #f2f2f2;
  overflow: hidden; }
  /* line 11, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-price.scss */
  .slider-price-wrapper .slider-price__table {
    border-collapse: collapse;
    font-family: OpenSans;
    background: #fff;
    margin-bottom: 40px;
    width: 828px; }
    /* line 17, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-price.scss */
    .slider-price-wrapper .slider-price__table tr th {
      background: #1d2631;
      width: 276px;
      height: 95px;
      background: #1d2631;
      color: #fff;
      font-size: OpenSans;
      text-transform: uppercase;
      border-right: 2px solid #f2f2f2;
      border-left: 2px solid #f2f2f2; }
      /* line 28, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-price.scss */
      .slider-price-wrapper .slider-price__table tr th span {
        font-size: 18px;
        font-weight: lighter; }
    /* line 34, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-price.scss */
    .slider-price-wrapper .slider-price__table tr td {
      border: 2px solid #f2f2f2;
      border-top-style: none;
      width: 276px;
      height: 59px;
      font-size: OpenSans;
      text-transform: uppercase;
      color: #283645;
      padding-left: 20px;
      box-sizing: border-box; }

/* line 50, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-price.scss */
.slider-price-wrapper:before {
  content: "";
  display: block;
  position: relative;
  top: -70px;
  margin-top: 5px;
  height: 34px;
  background: linear-gradient(to top left, #f2f2f2 0%, #f2f2f2 50%, #fff 50%, #fff 100%); }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 4, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-pagination.scss */
.pagination {
  margin: 0 auto;
  width: 100px;
  font-size: 0
  /*
		button{
			border: 0;
			padding: 0;
			margin: 0;
		}*/ }
  /* line 15, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-pagination.scss */
  .pagination__item-active {
    width: 12px;
    height: 12px;
    padding: 0;
    background: #fff;
    border-style: none;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 12px;
    margin-right: 19px;
    border: 3px solid #1d2631; }
  /* line 22, C:/Users/Учеба/Desktop/Pink проект/SCSS/blocks/block-pagination.scss */
  .pagination__item {
    width: 6px;
    height: 6px;
    padding: 0;
    background: #bec2c7;
    border-style: none;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 12px;
    margin-right: 19px;
    border: 3px solid #bec2c7; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 4, C:\Users\Учеба\Desktop\Pink проект\SCSS/helper.scss */
a {
  text-decoration: none; }

/* line 9, C:\Users\Учеба\Desktop\Pink проект\SCSS/helper.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 16, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-main.scss */
.content {
  padding: 0;
  margin: 0 auto;
  width: 320px; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:\Users\Учеба\Desktop\Pink проект\SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 4, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-footer.scss */
.footer-page {
  padding: 0;
  margin: 0 auto;
  width: 320px; }
  /* line 7, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-footer.scss */
  .footer-page__contacts {
    font-family: OpenSans;
    text-align: center; }
    /* line 11, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-footer.scss */
    .footer-page__contacts .title-h2 {
      font-size: 24px;
      font-weight: 100;
      color: #283645;
      font-family: OpenSans; }
    /* line 18, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-footer.scss */
    .footer-page__contacts .title-h4 {
      font-size: 18px;
      font-weight: bold;
      color: #283645;
      font-family: OpenSans;
      margin: 0; }
    /* line 27, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-footer.scss */
    .footer-page__contacts a, .footer-page__contacts p {
      display: inline-block;
      font-size: 24px;
      color: #d22856;
      font-weight: 100;
      margin: 0;
      margin-bottom: 20px; }
  /* line 37, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-footer.scss */
  .footer-page__contacts:after {
    content: '';
    /*height: 35px;*/
    position: relative;
    top: 57px;
    border-style: solid;
    border-width: 35px 160px 0 160px;
    border-color: #fff transparent transparent transparent; }
  /* line 49, C:/Users/Учеба/Desktop/Pink проект/SCSS/components/page-footer.scss */
  .footer-page__map {
    height: 205px;
    background: url("../img//bg-map.png") no-repeat 50% 100%; }

/*== Фоны ==*/
/*Цвет текста*/
/*Цвет границ меню*/
/*Размеры текста*/
/*шрифт текста*/
/*ширина блоков*/
/*Павила для ссылок*/
/* line 37, C:/Users/Учеба/Desktop/Pink проект/SCSS/variables.scss */
a {
  text-decoration: none; }

/* line 42, C:/Users/Учеба/Desktop/Pink проект/SCSS/variables.scss */
html, body {
  margin: 0;
  padding: 0; }
