.title-h2 {
    font-size: map-get($font-sizes, f-h2);
    font-weight: 100;
    color: map-get($bg-clrs, txt-blue);
    margin: 0;
}

.title-h4 {
    font-size: map-get($font-sizes, f-h4);
    font-weight: bold;
    color: map-get($bg-clrs, txt-blue);
    margin: 0;
}