/*
    Как сделать лучше
*/

$bg-clrs: (
    bg-blue: #1d2631,
    bg-white: #fff,
    bg-grey: #f2f2f2
);

/*
    background: map-get($bg-clrs, blue);
*/

/*
    Цвет текста
*/
$text-clrs: (
    txt-white: #fff,
    txt-black: #000,
    txt-blue: #283645,
    txt-red: #d22856
);

/*
    Цвет границ меню
*/
// ?
$borders-clrs: (
    // $bd-dark: #000101,
    // $bd-light: #485461
);

/*
    Размеры текста
*/
$font-sizes: (
    f-body: 10px,
    f-logo: 32px,
    f-nav: 18px,
    f-h2: 24px,
    f-h3: 18px,
    f-p: 14px,
    f-h4: 18px,
    f-h5: 30px
);

/*шрифт текста*/
$font-family: 'Open Sans', sans-serif;

/*ширина блоков*/
$mob-widts: 320px;
