.page-header {
    @include wrapper-center;
    left: -160px;
    background: rgba(0, 0, 0, .3);
    min-height: 65px;
    z-index: 10;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &__logo {
        @include inline-block(middle);
        color: $text-color-white;
        font-size: 32px;
        font-family: $font-family-main;
        line-height: 65px;
        margin-left: 15px;
    }

    &__menu-btn {
        position: absolute;
        width: 50px;
        height: 25px;
        top: 20px;
        right: 20px;
    }
    
    &__nav-menu {
        display: none;
    }
}

.main-menu {
    @extend %no-list;

    li {
        border-top: 1px solid $border-light;
        border-bottom: 1px solid $border-dark;
    }

    a {
        display: block;
        line-height: 65px;
        text-align: center;
        vertical-align: middle;
        color: $text-color-white;
        font-size: $font-size-nav;
        font-family: $font-family-main;
        text-transform: uppercase;
    }   
}

