
.page-header {
    @extend %wrapper-center;
    background: rgba(0, 0, 0, .3);
    min-height: 65px;
    z-index: 10;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

<<<<<<< HEAD
    &-open{
        background: #1d2631;
    }

=======
>>>>>>> origin/master
    @media(min-width: 480px) and (max-width: 1200px){
        min-height: 110px;
    }

    @media(min-width: 1200px){
        min-height: 110px;
        padding: 0 85px;
        box-sizing: border-box;
        position: absolute;
    }


    &__logo {
        @include inline-block(middle);
        color: map-get($text-clrs, txt-white);
        // font-size: 32px;
        // line-height: 65px;
        // margin-left: 15px;
        width: 150px;
        height: 40px;
        background: url("../img/Pink-logo-1.png") no-repeat;
        margin-top: 22px;
        margin-left: 20px;

        @media(min-width: 480px) and (max-width: 1200px){
<<<<<<< HEAD
            margin-left: 40px;
            margin-top: 27px;
            background: url("../img/Pink-logo-2@1x.png") no-repeat;

            &:hover {
                background: url("../img/Pink-logo-2-hover@1x.png") no-repeat;
            }

            &:active {
                background: url("../img/Pink-logo-2@1x.png") no-repeat;
                opacity: .5;
            }

=======
            // line-height: 110px;
            margin-left: 40px;
            margin-top: 27px;

            background: url("../img/Pink-logo-2@1x.png") no-repeat;

            // &:before{
            // content: '';
            // width: 60px;
            // height: 40px;
            // background: red;
            // display: inline-block;
            // margin-right: 10px;
            // }       
>>>>>>> origin/master
        }

        @media(min-width: 1200px){
            margin-left: 45px;
            margin-top: 27px;
            background: url("../img/Pink-logo-3@1x.png") no-repeat;
            // line-height: 110px;
            float:left;
            
            // &:before{
            // content: '';
            // width: 60px;
            // height: 40px;
            // background: red;
            // display: inline-block;
            // margin-right: 10px;
            // }       

        }

    }

    &__menu-btn {
        position: absolute;
        width: 50px;
        height: 25px;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0;
        border-style: none;
        background: transparent;
        cursor: pointer;

<<<<<<< HEAD

        &:hover span{
            background: #d22856;

            &:before {
                background: #d22856;
            }

            &:after {
                background: #d22856;
            }

        }

        &:active span{
            // background: transparent;
            opacity: .5;
        }

        &.active span{
=======
        &:hover span{
>>>>>>> origin/master
            background-color: transparent;

        }

<<<<<<< HEAD
        &.active span:before {
=======
        &:hover span:before {
>>>>>>> origin/master
            top: 0;
            transform: rotate(45deg) scale(.6, 1);;
            transition-delay: 0, 0.3s;
            // transform: scale(.5, 1);

        }
<<<<<<< HEAD
        &.active span:after {
=======
        &:hover span:after {
>>>>>>> origin/master
            bottom: 0;
            // transform: scale(.5, 1);
            transform: rotate(-45deg) scale(.6, 1);
            transition-delay: 0, 0.3s;


        }

       @media(min-width: 480px) and (max-width: 1200px){
            top: 44px;
            right: 40px;
        } 

         @media(min-width: 1200px){
            display: none;
         }

         span {
            display: block;
            position: absolute;
            top: 10px;
            height: 4px;
            width: 50px;
            background: #fff;

            transition: background 0 0.3s;


            &:after,
            &:before {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #fff;
                content: "";

                transition-duration: 0.3s, 0.3s;
                transition-delay: 0.3s, 0;
            }

            &:before{
                top: 10px;

                transition-property: top, transform;
            }

            &:after {
                bottom: 10px;

                transition-property: bottom, transform;
            }
         }

    }
    
    &__nav-menu {
        display: none;

<<<<<<< HEAD
        &-show{
            display: block;
        }

=======
>>>>>>> origin/master
        @media(min-width: 1200px){
            display: block;
            float: right;
         }
    }
}

.main-menu {
    @extend %no-list;
    background: #1d2631;

<<<<<<< HEAD
    @media(min-width: 480px) and (max-width: 1200px){
        margin-top: 40px;
    }

=======
>>>>>>> origin/master
    @media(min-width: 1200px){
            display: inline-block;
            width: 700px;
            text-align: left;
            background: inherit;
            font-size: 0;

            // outline: 1px solid red;
            margin-top: 23px;
    }

    li {
        // border-top: 1px solid map-get($borders-clrs, bd-light);
        border-bottom: 1px solid map-get($borders-clrs, bd-dark);
        border-top: 1px solid #485461;

        @media(min-width: 1200px){
            border: none;
            display: inline-block;

            vertical-align: middle;
         }
    }

    a {
        display: block;
        line-height: 65px;
        text-align: center;
        vertical-align: middle;
        color: map-get($text-clrs, txt-white);
        font-size: map-get($font-sizes, f-nav);
        text-transform: uppercase;

        &:hover {
            color: #d22856;
        }

        &:active {
            opacity: 0.5;
            color: #d22856;
        }


        @media(min-width: 1200px){
            display: block;
            // line-height: 110px;
            text-align: center;
            vertical-align: top;
            color: map-get($text-clrs, txt-white);
            font-size: map-get($font-sizes, f-nav);
            text-transform: capitalize;
            padding: 0 35px;

            // position: relative;
            box-sizing: border-box;
             // outline: 1px solid red;

            &:after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    position: relative;
                    
               }

            &:hover {
                // background: red;
               // text-decoration: underline;
               color: map-get($text-clrs, txt-white);

               &:after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    background: #fff;
                    position: relative;
                    top: -12px;
               }
            }

             &:active {
                opacity: 0.5;
                text-decoration: none;
                color: map-get($text-clrs, txt-white);

                &:after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    position: relative;
                    background: inherit;
                    
               }
             }
         }
    }   
}



