/*
	Мы уже сделали import, повторно его делать не нужно
*/
@import 'variables.scss';
@import 'mixin.scss';

.footer-page{
	@include wrapper-center;

	&__contacts {
		font-family: $font-family-main;
		text-align: center;

		a,
		p {
			display: inline-block;
			font-size: 24px;
			color: $text-color-red;
			font-weight: 100;
			margin: 0;
			margin-bottom: 20px;
		}

		&:after {
			content: '';
			/*height: 35px;*/
			position: relative;
			top: 57px;
			border-style: solid;
			border-width: 35px 160px 0 160px;
			border-color: $bg-white transparent transparent transparent;
		}
	}

	&__map{
		height: 205px;
		background: url("../img//bg-map.png") no-repeat 50% 100%;
	}
	
}
