@media(max-width: 480px){

    .page-research-wrapper{
         display: none;
         
    }
}

@media(min-width: 1200px){
	.page-research-wrapper {
		background: map-get($bg-clrs, bg-grey);
	}
}

.page-research{
	width: 350px;
	margin-left: 350px;
	position: relative;
	padding-top: 85px;
	padding-bottom: 10px;

	@media(min-width: 1200px){
		margin-left: 500px;
		width: 600px;
		background: map-get($bg-clrs, bg-grey);
		padding-top: 110px;
		padding-bottom: 110px;
	}

	&:before{
		content: '';
		display: block;
		width: 350px;
		height: 400px;
		background: url('../img/bg-clock.png') no-repeat;
		position: absolute;
		left: -310px;
		top: 55px;

		@media(min-width: 1200px){
			top: 30px;
			left: -365px;
			width: 300px;
			height: 350px;
			background: url('../img/bg-clock-big.png') no-repeat;
		}
	}

	.title-h5{
		font-size: 40px;
		text-align: left;
		margin: 0;
		padding: 0;
		width: 215px;
		line-height: 50px;

		@media(min-width: 1200px){
		width: 600px;
		font-size: 30px;
		}
	}

	p{
		font-size: 14px;
		line-height: 24px;
		width: 300px;

		@media(min-width: 1200px){
		width: 521px;
		font-size: 18px;
		}
	}

	a{
		color: #d22856;
		text-decoration: underline;
<<<<<<< HEAD

		&:hover {
                color: #283645;
                text-decoration: underline;
            }

            &:active {
                opacity: 0.5;
                text-decoration: none;
            }
=======
>>>>>>> origin/master
	}

}
	

