.contacts{
    @extend %wrapper-center;
    text-align: center;
    font-weight: lighter;
    position: relative;
<<<<<<< HEAD
    padding-top: 50px;
        
=======
>>>>>>> origin/master

    @media(min-width: 480px) and (max-width: 1200px){
        padding-top: 50px;
        
        .title-h2{
            font-size: 40px;
        }
    }

    @media(min-width: 1200px){
        padding-top: 50px;
        
        .title-h2{
            font-size: 50px;
            width: 700px;
            margin: 0 auto;
        }
        
    }

    &__item{

        @media(min-width: 480px) and (max-width: 1200px){
            display: inline-block;
            width: 340px;
            margin-top: 45px;
            vertical-align: top;
        }

        @media(min-width: 1200px){
            display: inline-block;
            width: 340px;
            margin-top: 45px;
            vertical-align: top;
        }

        a,
        p {
            display: inline-block;
            font-size: 24px;
            color: map-get($text-clrs, txt-red);
            font-weight: 100;
            margin: 0;
            margin-bottom: 20px;

            
        }

        a {
            &:hover {
                color: #283645;
                text-decoration: underline;
            }

            &:active {
                opacity: 0.5;
                text-decoration: none;
            }
        }

    }
        &:after {
            content: '';
            position: absolute;
            bottom: -35px;
            height: 35px;
<<<<<<< HEAD
=======
            // background: red;
>>>>>>> origin/master
            left: 0;
            width: 50%;
            background: linear-gradient(to bottom left, map-get($bg-clrs, bg-white) 0%, map-get($bg-clrs, bg-white) 50%, rgba(255, 0, 0, 0) 50%, rgba(255, 0, 0, 0) 100%);

             @media(min-width: 480px) and (max-width: 1200px){
                bottom: -70px;
                height: 70px;
             }

             @media(min-width: 1200px){
                bottom: -115px;
                height: 115px;
             }
        }

    &:before{
            content: '';
            position: absolute;
            bottom: -35px;
            height: 35px;
<<<<<<< HEAD
=======
            // background: green;
>>>>>>> origin/master
            right: 0;
            width: 50%;
            background: linear-gradient(to bottom right, map-get($bg-clrs, bg-white) 0%, map-get($bg-clrs, bg-white) 50%,  rgba(255, 0, 0, 0) 50%, rgba(255, 0, 0, 0) 100%);

            @media(min-width: 480px) and (max-width: 1200px){
                bottom: -70px;
                height: 70px;
             }

             @media(min-width: 1200px){
                bottom: -115px;
                height: 115px;
             }
    }
}

.map{
        height: 205px;
        background: url("../img/bg-map.png") no-repeat 50% 100%;
<<<<<<< HEAD
=======
        // position: relative;
>>>>>>> origin/master

        &:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: #d22856;
            border: 10px solid #fff;
            border-radius: 100%;
            position: relative;

            top: 50%;
            left: 50%;
        }

        @media(min-width: 480px) and (max-width: 1200px){
            height: 380px;
            background: url("../img/bg-map-midle.png") no-repeat 50% 50%;
        }

        @media(min-width: 1200px){
            height: 510px;
            background: url("../img/bg-map-big.png") no-repeat 50% 50%;
        }
    }