@import 'variables.scss';
@import 'mixin.scss';

.pagination{
		margin: 0 auto;
		width: 100px;
		font-size: 0;
/*
		button{
			border: 0;
			padding: 0;
			margin: 0;
		}*/

		&__item-active{
		     @include pagination-style($width: 12px, $height: 12px, 
		     	$background: $bg-white, $border-color: $bg-blue);


		}

		&__item{
		    @include pagination-style;
		}


	}