@import 'variables.scss';
@import 'mixin.scss';
@import 'helper.scss';

.slider-price-wrapper{
	padding-top: 65px;
	padding-bottom: 45px;
	background: $bg-grey;
	overflow: hidden;

	.slider-price__table{
		border-collapse: collapse;
		font-family: $font-family-main;
		background: $bg-white;
		margin-bottom: 40px;
		width: 276px * 3;
			tr th {
				background: $bg-blue;
				width: 276px;
				height: 95px;
				background: $bg-blue;
				color: $text-color-white;
				font-size: $font-family-main;
				text-transform: uppercase;
				border-right: 2px solid $bg-grey;
				border-left: 2px solid $bg-grey;

				span{
					font-size: $font-size-h4;
					font-weight: lighter;
				}
			}

			tr td{
				border: 2px solid $bg-grey;
				border-top-style: none;
				width: 276px;
				height: 59px;
				font-size: $font-family-main;
				text-transform: uppercase;
				color: $text-color-blue;
				padding-left: 20px;
				box-sizing: border-box;
			}

	}

}

.slider-price-wrapper:before {
		content: "";
		display: block;
		position: relative;
		top:-70px;
		@include right-triangle;
	}