@import 'variables.scss';

.product{
	margin: 0;


	&-title{
		margin: 0;
		padding: 0;
		padding-top: 40px;

		span{
			display: block;
			font-family: $font-family-main;
			font-size: $font-size-h2;
			color: $text-color-blue;
			font-weight: 100;
			text-align: center;
			margin-bottom: 25px;
		}

	}

	.features-list{
		list-style: none;
		margin: 0 auto;
		padding: 0;
		padding-top: 40px;
		background: $bg-grey;
		/*width: 320px;*/

		&__item{
			display: inline-block;
			text-align: center;
			font-family: $font-family-main;
			margin-bottom: 30px;


			.title-h3{
				font-size: $font-size-h3;
				padding: 0;
				margin: 0;	
			}

			p{
				font-size: $font-size-p;
				color: $text-color-blue;
			}

		}

	}
	
	.features-list:after{
		content: "";
		margin: 0 auto;
		width: 160px;
		display: block;
		height: 280px;
		background: $bg-grey url("../img/bg-product.png") no-repeat;
	}



}

.product-title:after{
	content: "";
	display: block;
	margin-top: 5px;
	height: 34px;
	background: linear-gradient(to top left, $bg-grey 0%, $bg-grey 50%, $bg-white 50%, $bg-white 100%);

}
